body {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-image: url(../img/fondo.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    width: 100%;
    background-color: #c1fb97;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box; 
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    font-weight: normal;
}

nav img {
    display: inline-block;
    width: 20%;
    padding: 0 !important;
}

.nav-align {
    float: right;
}

nav a:hover {
    font-size: larger;
    font-weight: bolder;
}

.derecha {
    margin-top: 55px;
    float: right;
    font-weight: bolder;
}

.layout-grid {
    display: flex;
    flex: 1;
    padding: 20px;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.calculadora {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button#calcular-btn {
    background-color: #8ecf60;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button#calcular-btn:hover {
    background-color: #b1fd7a;
}

.resultados {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
    text-align: left;
}

.hidden {
    display: none;
}

.footer {
    background-color: #c1fb97;
    color: #000;
    text-align: center;
    padding: 20px 0;
    position: relative; 
    width: 100%;    
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .main-content {
        padding: 10px;
    }

    .calculadora,
    .resultados {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .header, .footer {
        padding: 15px;
    }

    button#calcular-btn {
        width: 100%;
    }
}
